# Dependencies
node_modules

# Build outputs
.next
out
dist
build
coverage

# Cache
.turbo
.cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Environment
.env*

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS
.DS_Store
Thumbs.db
